body{
    margin: 0;
    overflow: hidden;
    font-size: 14;
}
*{
    box-sizing: border-box;
}

.container{
    height:100vh;
    position: relative;
}
.title-bar{
    height: 5vh;
    background-color: rgb(234, 241, 251);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar{
    height: 5vh;
    background-color: rgb(234, 241, 251);
    display: flex;
}
.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(95, 94, 94);
    font-size: 18;
    display: flex;
    align-items: center;
}
.menu-item:hover{
    background-color: rgb(227, 228, 231);
    cursor: pointer;
    border-radius: 5px;
}

.menu-item.selected:hover{
    background-color: rgb(211,227,253);
    cursor: default;
}
.menu-icon{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-item.selected{
    background-color: rgb(211,227,253);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 4px solid black;
}
.menu-icon:hover{
    /* background-color: lightgray; */
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1.2);
}
.menu-icon-bar{
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: rgb(246, 248, 252);
}

.selector{
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
}

.font-family-selector{
    width: 150px;
    font-family: Arial;
}
.selector option{
    font-size: 18px;
    border-radius: 10px;
}

.formula-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: rgb(246, 248, 252);
}

.formula-editor{
    height: 70%;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}

.selected-cell{
    width: 120px;
}

.function-sign{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formula-input{
    width: calc(100vw - 160px);
    background-color: white;
    outline-color:rgb(211,227,253) ;
}

.data-container{
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.select-all{
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
}
.column-name-container{
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid lightgray;
    display: flex;
    overflow: hidden;
}
.row-name-container{
    width: 30px;
    height: calc(75vh - 30px);
    border: 1px solid lightgray;
    overflow: hidden;
}
.input-cell-container{
    width: calc(100vw - 30px);
    height: calc(75vh - 30px);
    border: 1px solid lightgray;
    overflow: scroll;
}

.sheet-bar{
    height: 4vh;
    display: flex;
    background-color: rgb(246, 248, 252);
    align-items: center;
}
.scroller{
    width: 70px;
}
.icon-left-scroll,.icon-right-scroll{
    font-size: 30px;
}
.icon-left-scroll:hover,.icon-right-scroll:hover{
    /* background-color: lightgray; */
    cursor: pointer;
    border-radius: 50%;
    transform: scale(1.3);
}
.icon-add{
    width: 40px;
}
.icon-add:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.sheet-tab-container{
    border: 1px solid lightgray;
    width: calc(100vw - 110px);
    display: flex;
    border-radius: 10px;
}
.sheet-tab{
    border-radius: 10px;
    border-bottom: 4px solid black;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-right: 1px solid lightgray;
}
.sheet-tab.selected{
    background-color: rgb(211,227,253);
}
.sheet-tab:hover{
    cursor: default;
    transform: scale(1.1);
}

.column-name{
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: bold;
}
.row-name{
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}
.cell-row{
    display: flex;
}
.input-cell{
    min-width: 100px;
    min-height: 25px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color: rgb(165, 193, 238);
}
.input-cell.selected {
    border: 3px solid rgb(165, 193, 238);
    border-radius: 5px;
}
.menu-icon.selected{
    background-color: rgb(211,227,253);
    border-radius: 10px;
    height: 70%;
}
.input-cell.top-cell-selected {
    border-top: none;
}
.input-cell.bottom-cell-selected {
    border-bottom: 1px solid lightgray;
}
.input-cell.right-cell-selected {
    border-right: 1px solid lightgray;
}
.input-cell.left-cell-selected {
    border-left: none;
}